:root{
  --ff-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --ff-cursed-timer:'Cursed Timer ULiL', sans-serif;
  --light-blue:#9AABD8;
  --navy-blue: #1B244A;
  --light-gray:#eee;
  --pink-red:#F94F6D;
  --blackish: #080001;
}

*, *::before,*::after{
  box-sizing: border-box;
}

body,html{
  margin:0;
  padding:0
}

body{
  background-color:var(--navy-blue);
  text-align: center;
}

h1,h2,h3,p,button,header{
  margin: 0;
  padding: 0;
}
/* Typopgraphy */

.team-name{
  font-family: var(--ff-verdana);
  font-weight: 700;
  font-size: 2.5rem;
  color:var(--light-gray);

}
.team-score,.btn-primary{
  font-family: var(--ff-cursed-timer);
}

.team-score{
  font-size: 5.7rem;
  color:var(--pink-red);
  border-radius: 0.37rem;
}

.btn-primary{
  font-size: 1.125rem; 
}


/* utility classes */

.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}
.container{
  justify-content: center;
  width: 100%;
  margin-inline:auto;
}


.main{
  margin: auto;
  gap:.75rem;
  padding-block: 4rem 2rem;

}

.team-container{
  max-width:11.5rem ;
 
}

.team{
  padding: 1rem;
}
.team-score{
  background-color: var(--blackish);
  border: 2px solid var(--blackish);
  padding: 1rem;
  margin-block: 1rem;
  
}
.score-btn-container{
  justify-content: space-evenly;
  gap:.75rem;
}

.btn-primary{
  border-radius: 5px;
  border: 2px solid var(--light-blue);
  color: var(--light-blue);
  background-color: transparent;
  padding: .8rem;

}

.btn-primary:hover,.btn-primary:focus{
  opacity: .8;
  text-decoration: underline;
  scale: 1.07;
}

.leader{
  border: 2px solid yellow;
}